.field {
  display: grid;
}

.field__element {
  border: 1px dashed rgba(21, 255, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(21, 255, 0, 0);
  /* width: 1vw; */
}

.field__element--0 {
    color: rgba(21, 255, 0, 0.15);
    background-color: rgb(24, 24, 24);
    /* border: 1px dashed rgb(24, 24, 24); */
}

  .field__element--1 {
    background-color: rgba(21, 255, 0, 0.1);
    box-sizing: border-box;
  }

  .field__element--2 {
    background-color: rgba(21, 255, 0, 0.18);
  }

  .field__element--3 {
    background-color: rgba(21, 255, 0, 0.26);
  }

  .field__element--4 {
    background-color: rgba(21, 255, 0, 0.34);
  }

  .field__element--5 {
    background-color: rgba(21, 255, 0, 0.42);
  }

  .field__element--6 {
    background-color: rgba(21, 255, 0, 0.48);
  }

  .field__element--7 {
    background-color: rgba(21, 255, 0, 0.54);
  }

  .field__element--8 {
    background-color: rgba(21, 255, 0, 0.60);
  }

  .field__element--mine {
    color: rgba(0, 0, 0, 0);
    background: url(../../images/mine\(AI\)-2.svg) no-repeat;
  }

  .field__element--marked {
    color: rgba(0, 0, 0, 0);
    background: url(../../images/tour-24px.svg) no-repeat;
    /* background-color: red; */
  }