.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

  .settings__title {
    margin-top: 5vh;
    font-size: 80px;
    height: 10vh;
    margin-bottom: 7.5vh;
  }

  .settings__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 20vh;
    align-items: center;
    margin-bottom: 5vh;
  }

    .settings__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 35px;
      font-family: A123;
      width: 100%;
    }

    .settings__label {
      font-size: 35px;
    }

   .edit-elems {
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-width: 160px;
   }
    .edit-elems__button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-weight: bold;
      font-size: 22px;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      background-color: rgb(24, 24, 24);
      border: 3px solid rgba(21, 255, 0, 1);
      border-radius: 8px;
      transition: all 250ms linear;
    }
      .edit-elems__button:hover {
        font-weight: bold;
        color: rgb(24, 24, 24);
        background-color: rgba(21, 255, 0, 1);
      }

      .edit-elems__button--passive {
        border: 3px solid rgb(78, 78, 78);
        color: rgb(78, 78, 78);
        cursor: auto;
      }
        .edit-elems__button--passive:hover {
          font-weight: normal;
          color: rgb(78, 78, 78);
          background-color: rgb(24, 24, 24);
        }

    .edit-elems__input {
      width: 65px;
      font-size: 35px;
      background-color: rgb(24, 24, 24);
      border: none;
      outline: none;
      text-align: center;

      -moz-appearance: textfield;
      -webkit-appearance: textfield;
      appearance: auto;
    }
    .edit-elems__input::-webkit-outer-spin-button,
    .edit-elems__input::-webkit-inner-spin-button {
      display: none;
    }

  .settings__button {
    height: 10vh;
    width: 270px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: A123;
    padding: 20px;
    background-color: rgb(24, 24, 24);
    border: 7px solid rgba(21, 255, 0, 1);
    border-radius: 20px;
    margin-bottom: 5vh;
    margin-top: 17.5vh;
    transition: all 250ms linear;
    display: flex;
    align-items: center;
  }
    .settings__button:hover {
      font-weight: 900;
      color: rgb(24, 24, 24);
      background-color: rgba(21, 255, 0, 1);
    }

@media screen and (max-width: 400px) {

  .settings__button {
    width: 210px;
    font-size: 0.9rem;
  }

  .settings__title {
    font-size: 45px;
  }

  .settings__block {
    display: block;
    width: 75%;
  }

  .settings__label {
    font-size: 35px;
    text-align: center;
  }

}
